body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: url("./assets/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 24px;
}

form {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-container {
  margin-bottom: 10px;
  width: 100%;
}

label {
  display: flex;
  align-items: center;
}

input {
  margin-right: 8px;
}

@media (min-width: 800px) and (min-height: 600px) {
  .App {
    max-width: none; 
  }

  .checkbox-container {
    width: 48%;
  }
}
